<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Appenders>
        <Console name="ConsoleAppenderPlainString" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.sss} [%t][%X{reqId}] %c{1}:%L - %msg%n"/>
        </Console>
        <Console name="ConsoleAppenderJSON" target="SYSTEM_OUT">
            <JsonTemplateLayout maxStringLength="12288" eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json"/>
        </Console>

        <Routing name="PlainStringOrJsonConsoleAppender">
            <Routes pattern="$${env:DELIVER_SERVICE_ENV:-LOCAL}">
                <Route ref="ConsoleAppenderJSON" key="DEV1"/>
                <Route ref="ConsoleAppenderJSON" key="QA1"/>
                <Route ref="ConsoleAppenderJSON" key="DEV2"/>
                <Route ref="ConsoleAppenderJSON" key="QA2"/>
                <Route ref="ConsoleAppenderJSON" key="QA3"/>
                <Route ref="ConsoleAppenderJSON" key="UAT"/>
                <Route ref="ConsoleAppenderJSON" key="PROD"/>
                <Route ref="ConsoleAppenderPlainString" key="LOCAL"/>
            </Routes>
        </Routing>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="PlainStringOrJsonConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>